* {
    margin: 0;
}

body {
    background-color: aliceblue;
}

header {
    background-image: repeating-linear-gradient(to bottom right, 
        rgb(0, 0, 255, .3) 10%, rgb(111, 255, 0, .6) 20%);
    padding: 20px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

h1 {
    display: inline-block;
    font-size: 30px;
}

nav {
    float:right;
}

li {
    list-style-type: none;
    display: inline-block;
    background-color: aliceblue;
    margin: 5px;
    margin-left: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    border-style: solid;
    box-shadow: 2px;
    border-width: 2px;
    border-color: black;
}

li a {
    text-decoration: none;
    color: black;
}

section {
    display: flex;
    padding: 20px;
    margin: 15px;
}

section h2 {
    float: left;
    width: 10%;
    text-align: right;
    padding-right: 25px;
    border-right: 5px;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-color: black;
    border-style: solid;
}

section p {
    width: 90%;
    padding-left: 10px;
}

section pre {
    width: 30%;
    padding-left: 10px;
    padding-top: 20px;
}